.titulo{
    font-size: 50px;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
}

.titulo4{
    font-size: 50px;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
}

.titulo5{
    font-size: 50px;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
}

.titulo6{
    font-size: 50px;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
}

.opc{
    font-size: 30px;
    color: azure;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
body{
    background-color: blueviolet;
    background-image: url("FONDODECANCER.jpeg");
    background-repeat: repeat;
    background-size: cover;
}

.contenedorimagen{
display: flex;
}

.cancerbero{
    font-size: 100px;
    color: azure;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;

}
.img{
    width: 300px;
}

.img1{
    width: 100px;
}

.img2{
    width: 100px;
}

.img3{
    width: 200px;
}

.img4{
    width: 200px;
}

.titulo1{
    font-size: 30px;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
}

.titulo2{
    font-size: 30px;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
}

.titulo3{
    font-size: 30px;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
}

.acerca{
    color: blue;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    padding-right: 20px;
}

.acerca1{
    color: blue;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-right: 20px;
    padding-right: 20px;
}